*{
    margin:0; 
    padding:0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

html {
  scroll-behavior: smooth;
  /* height:100%; */
}

:root{
    --title-colour: hsl(0, 0%, 20%);
    --title-colour-dark: hsl(0, 0%, 8%);
    --text-colour: hsl(0, 0%, 46%);
    --body-colour: #f8f8f8;
    --container-colour: #fff;
    --title-font:3rem;
    --title-font-mobile:3rem;
    height:100%;
}

body{
    /* height:100%; */
}

h1{
    color:var(--title-colour)
}

.page-title{
    font-size: var(--title-font);
    color: var(--title-colour-dark);
    margin-top:1rem;
    text-align: center;
}